<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ForenCrypt - ODA</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">İmaj Alma Aracı</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Ana Sayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h2 class="cover-heading">Object Detection Algorithms</h1>
          <p class="lead">Resmi Seçtiğinizde Resmin İçerisinde Bıçak ve ya Silah nesnelerinden hangisinin olduğunu
            analiz et butonuna tıklayarak görebilirsiniz. Eğer nesneler yoksa en yakını getirecektir.</p>
          <div class="c-glitch">
            <div class="c-glitch__img">
            </div>
            <div class="c-glitch__img">
            </div>
            <div class="c-glitch__img">
            </div>
            <div class="c-glitch__img">
            </div>
            <div class="c-glitch__img">
            </div>
          </div>
          <form id="upload-file" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="input-file" accept=".png, .jpg, .jpeg" style="display: none;">
            <label for="input-file" class="btn btn-lg btn-default" style="margin:10px;">Resim Yükle</label>
            <button type="button" class="btn btn-lg btn-default " style="margin:10px;" id="analyze">Analiz Et</button>
          </form>
          
          <form id="choose-image-file" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="input-image-file" accept=".dd" class="btn btn-lg btn-default" style="margin-left: 32%;">
            <button type="button" class="btn btn-lg btn-default " style="margin:10px;" id="mount">Mount Et</button>
          </form>
          

          <p  class="lead" id="result"></p>
          </p>
        </div>

      </div>

    </div>

  </div>

</body>

</html>